@font-face {
    font-family: Raleway Light;
    src: url(raleway-light.ttf);
}
  

body {
	font-family: Raleway;
	background-color: #ffffff;
	color: #000000;
	width: 100%;
  padding: 40px 60px 40px 60px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
	background-color: #ffffff;
  /*   background-image: linear-gradient(180deg, #FFFFFF 100%, rgba(255, 255, 255, 0) 100%); */
  padding: 40px 60px 40px 60px;
  height: 124px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  transition: background-color 0.5s, height 0.5s;
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.5);
  height: 32px;
}

header h1 a .scrolled {
  font-size: 32px;
  width: 50px;
  color: #ff4141;
}


/*   background-image: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%); */


header h1 a {
  color: #000000;
  font-weight: 700;
  font-size: 48px;
  text-decoration: none;
  width: 100px;
}

nav div.circle {
  background-color: #000000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  
  background: linear-gradient( -45deg, black, black 50%, white 50%, white 50%, white 50% ); 
  border-radius: 50%;
}


nav a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  margin-right: 24px;
  margin-top: 12px;
}


nav {
  display: flex;
}

.hero {
  margin-top: 240px;
  margin-bottom: 240px;
}

.hero h2 {
  font-size: 48px;
  color: #000000;
  width: 75%;
  line-height: 1.25;
  margin-bottom: 24px;
}


section .interest-content img {
  width: 80px;
}

section .interest-content {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

section .interest-content h3 {
  font-size: 20px;
  font-weight: 500;
  margin-left: 40px;
  width: 600px;
  line-height: 1.5;
  font-family: Raleway Light;
}

section a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.Interest {
padding-bottom: 240px ;
}


/* Footer */ /* Footer */ /* Footer */
.footer-content1 {
  display: flex;
  justify-content: space-between;
}


footer .line {
  width: 160px;
  background-color: #000000;
  height: 1px;
  margin-bottom: 80px;
}

.footer-copy1 {
  margin-bottom: 24px;
  vertical-align: middle;
}

.footer-copy1 a {
  font-family: Raleway Light;
  font-size: 20px;
}

.footer-content h3 {
  font-size: 20px;
  font-family: Raleway Light;
  margin-bottom: 24px;
}
  

.footer-copy1 a {
  text-decoration: none;
  text-underline-position: under;
  color: #000000;
}

.footer-copy1 img {
  width: 36px;
  margin-right: 16px;
}


.footer-picture {
	background-image: url(pim_photo.png);
  background-size: cover; 
  border-radius: 50%;
  height: 240px;
  width: 240px;
}

/* Screen size queries */
@media only screen and (max-width: 670px) {
    body {
    padding: 40px 32px 40px 32px;
  }  

    header {
      padding: 40px 32px 40px 32px;;
    }

    header h1 a {
      color: #000000;
      font-weight: 700;
      font-size: 32px;
      text-decoration: none;
      width: 100px;
    }

    nav a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 6px;
  }

    nav div.circle {
    background-color: #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;

    background: linear-gradient( -45deg, black, black 50%, white 50%, white 50%, white 50% ); 
    border-radius: 50%;
  }


    .hero h2 {
    font-size: 24px;
    width: 100%;
    margin-bottom: 16px;
  }

    .hero {
    margin-top: 200px;
    margin-bottom: 320px;
  }

    section .interest-content h3 {
    font-size: 16px;
    width: 300px;
    margin-left: 0px;
  }

    section .interest-content {
    display: block;
    align-items: flex-start;
    margin-bottom: 64px;
    }

    section .interest-content img {
    width: 80px;
    margin-bottom: 16px;
  }

    .footer-content1 {
    display: block;
    justify-content: space-between;
  }

    .footer-content h3 {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .footer-copy1 a {
    font-size: 16px;
  }

  .footer-picture {
    background-image: url(pim_photo.png);
    background-size: cover; 
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }
 
}
